GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_API_KEY=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
LENS_MOSAIC_COLLECTION_ID=amazon-product-dataset-768
LENS_MOSAIC_GEMINI_EMBEDDING_MAX_RPM=1500
LENS_MOSAIC_SIMILAR_SEARCH_WORKERS=100